PUBLIC_SUPABASE_URL='my_awesome_supabase_url'
PUBLIC_SUPABASE_ANON_KEY='my_awesome_anon_key'
SUPABASE_SERVICE_ROLE_KEY='my_awesome_service_role_key'
PUBLIC_SIMFILE_BUCKET_URL='my_awesome_simfile_bucket_url'
VITE_DTX_SERVER_URL='my_awesome_server_url'
