PUBLIC_SUPABASE_URL='my_awesome_supabase_url'
PUBLIC_SUPABASE_ANON_KEY='my_awesome_anon_key'
PUBLIC_CLOUDFLARE_R2_PUBLIC_URL="my_awesome_bucket_url"
CLOUDFLARE_ACCOUNT_ID='my_awesome_account_id'
CLOUDFLARE_ACCESS_KEY_ID='my_awsome_key_id'
CLOUDFLARE_ACCESS_KEY_SECRET='my_awsome_key_secret'
PUBLIC_SIMFILE_BUCKET_URL='my_awesome_simfile_bucket_url'
PUBLIC_SKIN_BUCKET_URL='my_awesome_skin_bucket_url'
PUBLIC_CLOUDFARE_WORKER_URL='my_awesome_worker_url'
VITE_DTX_SERVER_URL='my_awesome_server_url'
